{% extends 'base.html' %}

{% block head %}
<title>Todo list</title>
{% endblock %}

{% block body %}
<h1>Todo list</h1>
<div class="content">
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <th>{{ task.body }}</th>
            <th>{{ task.date_created.date() }}</th>
            <th>
                <a href="">Delete</a>
                <br>
                <a href="">Edit</a>
            </th>
        </tr>
        {% endfor %}
    </table>
    <form action="/" method="post">
        <input type="text" name="task_body" id="task_body" required>
        <input type="submit" value="Add task">
    </form>
</div>
{% endblock %}