{% extends 'base.html' %}

{% block head %}
<title>Todo list</title>
{% endblock %}

{% block body %}
<h1>Todo list</h1>
<div class="content">
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <form id="edited_form_{{ task.id }}" action="/edit/{{ task.id }}" method="post">
            <th><input type="text" name="task_body" id="task_body_{{ task.id }}" value="{{ task.body }}" disabled></th>
            </form>
                <th>{{ task.date_created.date() }}</th>
                <th>
                    <a href="/delete/{{ task.id }}">Delete</a>
                    <br>
                    <button id="edit{{ task.id }}" onclick="edit_action('{{ task.id }}')">Edit</button>
                </th>
            </tr>
        {% endfor %}
    </table>
    <form action="/" method="post">
        <input type="text" name="task_body" id="task_body" required>
        <input type="submit" value="Add task">
    </form>
</div>
{% endblock %}